body {
  background-color: $dark-blue;
  height: 100vh;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../images/background-stars.svg');
}
