body {
  background-color: $dark-blue;

  @media (min-width: $ms) {
    height: 100vh;
  }
}

.main {
  
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('../images/background-stars.svg');
  padding-bottom: 0 10px 32px 10px;

  @media (min-width: $ms) {
    max-width: 1440px;
    height: 100%;
    box-sizing: border-box;
    padding: 0 32px 56px 32px;
    justify-content: space-between;
  }
}
