.main{

  .planet-portrait {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media (min-width: $ms) {
      flex-direction: row;
      height: 100%;
      max-height: 540px;
      flex-direction: row;
    }

    &__image {
      width: 100%;
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 54px 0 34px 0;
      box-sizing: border-box;

      @media (min-width: $ms) {
        margin: 0;
        height: 100%;
      }

      &__container {
        box-sizing: border-box;
        position: relative;

        img {
          display: block;
          object-fit: fill;
          height: auto;
        }

        .img--hidded {
          display: none;
        }

        #planet-principal-image {
          width: 100%;
        }

        #planet-second-image {
          position: absolute;
          transform: rotate(-50deg);
          height: 50%;
          top: 40%;
          left: 50%;
        }
      }

    }
  
    &__board{ 
      width: 30%;
      height: 100%;
      display: flex;
      min-height: 210px;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;

      @media (min-width: $ms) {
        flex-direction: column;
        width: 30%;
        min-height: none;
      }

      &__info {
        width: 50%;
        color: $white;

        @media (min-width: $ms) {
          width: 100%;
        }

        h1 {
          @include h1_title();
          margin-bottom: 22px;
          font-size: 48px;
          
          @media (min-width: $ms) {
            font-size: 80px;
          }
        }
        
        p {
          @include body_font();
          margin-bottom: 24px;
          font-size: 11px;
          
          @media (min-width: $ms) {
            font-size: 14px;
          }
        }

        span {
          @include body_font();
          margin-bottom: 32px;
          color: $gray;
          font-size: 11px;
          
          @media (min-width: $ms) {
            font-size: 14px;
            margin-bottom: 24px;
          }
          
          a {
            @include body_font();
            text-decoration: none;
            color: $gray;
            font-size: 11px;
          
            @media (min-width: $ms) {
              font-size: 14px;
            }
          }
        }
      }

      &__buttons {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 69px;
        box-sizing: border-box;
        justify-content: center;
        
        @media (min-width: $ms) {
          width: 100%;
          padding: 0;
          justify-content: flex-end;
        }


        button {
          cursor: pointer;
          box-sizing: border-box;
          background-color: transparent;
          border: 1px solid $dark-gray;
          padding: 12px 0;
          margin-bottom: 16px;
          text-align: left;
          @include h3_title();
          color: $white;
          font-size: 9px;
          
          @media (min-width: $ms) {
            font-size: 12px;
          }

          &:hover {
            background-color: $dark-gray;
          }

          span {
            margin: 0 25px;
            color: $gray;
            font-size: 9px;
          
            @media (min-width: $ms) {
              font-size: 12px;
            }
          }
        }

        .btn-section--active {
          background-color: $red;

          @media (min-width: $ms) {
            background-color: $light-blue;
          }

          
          &:hover {
            background-color: $red;

            @media (min-width: $ms) {
              background-color: $gray;
            }
          }
          
          span {
            color: $dark-gray;
          }
        }
      }
    }
  }

}

