.main{

  .planet-portrait {
    width: 100%;
    height: 100%;
    max-height: 540px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    &__image {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__container {
        box-sizing: border-box;
        position: relative;

        img {
          display: block;
          object-fit: fill;
          height: auto;
        }

        .img--hidded {
          display: none;
        }

        #planet-principal-image {
          width: 100%;
        }

        #planet-second-image {
          position: absolute;
          transform: rotate(-50deg);
          height: 50%;
          top: 40%;
          left: 50%;
        }
      }

    }

    &__board {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__info {
        height: auto;
        color: $white;

        h1 {
          @include h1_title();
          margin-bottom: 22px;
        }
        
        p {
          @include body_font();
          margin-bottom: 24px;
        }

        span {
          @include body_font();
          margin-bottom: 24px;
          color: $gray;
          
          a {
            @include body_font();
            text-decoration: none;
            color: $gray;
          }
        }
      }

      &__buttons {
        width: 100%;
        display: flex;
        flex-direction: column;

        button {
          cursor: pointer;
          box-sizing: border-box;
          background-color: transparent;
          border: 1px solid $dark-gray;
          padding: 12px 0;
          margin-bottom: 16px;
          text-align: left;
          @include h3_title();
          color: $white;

          &:hover {
            background-color: $dark-gray;
          }

          span {
            margin: 0 25px;
            color: $gray;
          }
        }

        .btn-section--active {
          background-color: $light-blue;

          &:hover {
            background-color: $gray;
          }
          
          span {
            color: $dark-gray;
          }
        }
      }
    }
  }
}
